{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
  
<div>
  <div class="float-start"><h2>Task List</h2></div>
  <div class="float-start ms-3"><form method="get" action="{% url 'task_list' %}">
    <div class="input-group mb-3">
        <input type="text" name="q" class="form-control" placeholder="Search..." value="{{ search_query|default:'' }}">
        <input type="hidden" name="order_by" value="{{ order_by }}">
        <input type="hidden" name="dir" value="{{ dir }}">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
</form></div>
  <div class="float-end">
  <a id="{% url 'task_create' %}" class="btn btn-success" href="{% url 'task_create' %}">Create Task</a>
</div>
</div>
  <table id="table" class="table table-striped table-hover">
    <thead>
      <tr>
        <th>
          <div class="d-flex">
          <div class="d-flex flex-column pt-3">
            Title
            </div>
              <div class="d-flex flex-column ms-2 pt-3">
                  <a class="pt-1 ord {%if order_by == 'title' and dir == 'asc'%}oactive{%endif%}" href="?q={{ search_query|default:'' }}&{% if is_paginated %}page={{page_obj.number}}&{% endif %}order_by=title&dir=asc">&#9650;</a>
                 
                   <a class="pt-1 ord {%if order_by == 'title' and dir == 'desc'%}oactive{%endif%}" href="?q={{ search_query|default:'' }}&{% if is_paginated %}page={{page_obj.number}}&{% endif %}order_by=title&dir=desc">&#9660;</a>
              </div>
            </div>
      </th>
      <th>
        <div class="d-flex">
        <div class="d-flex flex-column pt-3">
          Description
          </div>
            <div class="d-flex flex-column ms-2 pt-3">
                <a class="pt-1 ord {%if order_by == 'description' and dir == 'asc'%}oactive{%endif%}" href="?q={{ search_query|default:'' }}&{% if is_paginated %}page={{page_obj.number}}&{% endif %}order_by=description&dir=asc">&#9650;</a>
               
                 <a class="pt-1 ord {%if order_by == 'description' and dir == 'desc'%}oactive{%endif%}" href="?q={{ search_query|default:'' }}&{% if is_paginated %}page={{page_obj.number}}&{% endif %}order_by=description&dir=desc">&#9660;</a>
            </div>
          </div>
    </th>
        <th>
          <div class="d-flex">
          <div class="d-flex flex-column pt-3">
            Status
            </div>
              <div class="d-flex flex-column ms-2 pt-3">
                  <a class="pt-1 ord {%if order_by == 'completed' and dir == 'asc'%}oactive{%endif%}" href="?q={{ search_query|default:'' }}&{% if is_paginated %}page={{page_obj.number}}&{% endif %}order_by=completed&dir=asc">&#9650;</a>
                 
                   <a class="pt-1 ord {%if order_by == 'completed' and dir == 'desc'%}oactive{%endif%}" href="?q={{ search_query|default:'' }}&{% if is_paginated %}page={{page_obj.number}}&{% endif %}order_by=completed&dir=desc">&#9660;</a>
              </div>
            </div>
        </th>
        <th>Actions<th>
      </tr>
    </thead>
    <tbody>
      {% for task in object_list %}
      <tr onclick="location.href='{% url 'task_detail' pk=task.id %}';" data-bs-toggle="tooltip" data-bs-placement="top" title="Click here to view {{task.title|upper}} Details">
        <td >{{ task.title }}</td>
        <td>{{ task.description|truncatechars:15 }}</td>
        <td>{% if task.completed %}<h5><span class="badge bg-success">Done</span></h5>{% else %}<h5><span class="badge bg-primary">In progress</span></h5>{% endif %} 
  
        </td>
        <td>
          <div class="d-flex">
          <form method="post" action="{% url 'toggle_complete' task.id %}">
            {% csrf_token %}
            <div class="form-check form-switch py-2">
            <input type="checkbox" name="completed" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Click here to change {{task.title|capfirst}} status" {% if task.completed %}checked{% endif %} style="transform: scale(1.8);" class="form-check-input mx-2 toggle-complete-checkbox">
            </div>
          </form>
          <a class="btn btn-success ms-3" href="{% url 'task_update' pk=task.id %}">Edit</a>
          <a class="btn btn-danger ms-3" href="{% url 'task_delete' pk=task.id %}">Delete</a>
          </div>
        </td>
      </tr>
    
      {% endfor %}
    </tbody>
  </table>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var checkboxes = document.querySelectorAll('.toggle-complete-checkbox');
      
      checkboxes.forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
          var form = this.closest('form');
          form.submit();
        });
      });
    });
  </script>
  {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&q={{ search_query|default:'' }}&order_by={{ order_by }}&dir={{ dir }}">&laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
    {% endif %}

    {% for i in paginator.page_range %}
      {% if i == 1 or i == page_obj.number or i == paginator.num_pages %}
        <li class="page-item {% if i == page_obj.number %}active{% endif %}">
          <a class="page-link" href="?page={{ i }}&q={{ search_query|default:'' }}&order_by={{ order_by }}&dir={{ dir }}">{{ i }}{% if i == page_obj.number %} <span class="sr-only"></span>{% endif %}</a>
        </li>
      {% elif i > page_obj.number|add:"-3" and i < page_obj.number|add:"3" %}
        <li class="page-item">
          <a class="page-link" href="?page={{ i }}&q={{ search_query|default:'' }}&order_by={{ order_by }}&dir={{ dir }}">{{ i }}</a>
        </li>
      {% elif i == page_obj.number|add:"-3" or i == page_obj.number|add:"3" %}
        <li class="page-item disabled"><span class="page-link">...</span></li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&q={{ search_query|default:'' }}&order_by={{ order_by }}&dir={{ dir }}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}
